<div class="card h-100">
    <img [src]="productCard.image" class="card-img-top" alt="product image" />
    <div class="card-body">
        <h5 class="card-title">{{ productCard.title }}</h5>
        <p class="card-text">{{ productCard.category }}</p>
        <p class="card-text">{{ productCard.price }}</p>
        <!-- <p class="card-text" [ngClass]="productCard.rating.count_in_stock == 0 ? 'red-colored' : 'green-colored'">
            <ng-template [ngIf]="productCard.rating.count_in_stock == 0">Out of Stock</ng-template>
            <ng-template [ngIf]="productCard.rating.count_in_stock > 0">In Stock</ng-template>
        </p> -->
        <!-- Better way -->
        <div *ngIf="productCard.rating.count_in_stock == 0; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <p class="red-colored">Out of Stock</p>
        </ng-template>
        <ng-template #elseBlock>
            <p class="green-colored">In Stock</p>
        </ng-template>
        <button class="btn btn-primary">Add to Cart</button>
    </div>
</div>